<?xml version="1.0" encoding="utf-8"?>  <!-- 📄 Android Manifest file: declares app components, permissions, and metadata -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<!--
    🛠 Namespace declarations:
    - android: standard Android namespace
    - tools: used for design-time attributes and linting, ignored at runtime
    -->
<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@drawable/baseline_menu_book_24"
    android:label="@string/app_name"
    android:roundIcon="@drawable/baseline_menu_book_24"
    android:supportsRtl="true"
    android:theme="@style/Theme.NoteIt"
    tools:targetApi="31">
    <activity
        android:name=".TasksActivity"
        android:exported="false" />
    <activity
        android:name=".Details"
        android:exported="false" />
    <activity
        android:name=".BackGroundActivity"
        android:exported="false" />
    <activity
        android:name=".UploadActivity"
        android:exported="false" />
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />
</application>

</manifest>